.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 50px;
  }
  
  .menu-item {
    padding: 10px 20px;
    cursor: pointer;
  }

  .active {
    text-decoration: underline;
    font-weight: bold;
  }
  
.reg {
  display: flex;
  align-items: end;
  flex-direction: column;
  order: 2;
  font-size: large;
}



.fullReg {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 30px; 
  margin: 30px;
}